.home-responsive {
    display: flex;
}

.glance-div {
    margin-left: 30px;
}

.nav-distance {
    margin-top:30px;
}

@media (max-width: 700px) {
    .home-responsive {
        display: unset;
    }
    
    .glance-div {
        margin-left: unset;
    }

    .nav-distance {
        margin-top:60px;
    }

    .onebox {
        padding-top: 160px;
    }

    .well-mobile {
        display: flex;
        flex-direction: column;
        margin: 10px;
        justify-content: space-around;
        min-height: 150px;
        align-items: center;
    }

    .modal-header {
        padding: 1em;
    }

    .concept-teaser-body {
        padding: 0;
    }
    .modal-dialog {
        margin: unset;
    }
}