@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');

.tooltip {
  background: #6094d1;
  padding: 5px 12px;
  margin: -2px;
  margin-left: 7px;
  font-size: 15px;
  border-radius: 100%;
  color: #FFF;
  opacity: unset;
  display: inline-block;
}

.tooltip:before,
.tooltip:after {
  position: absolute;
  content: '';
  opacity: 0;
  transition: all 0.4s ease;
}

.tooltip:before {
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color: #6094d1 transparent transparent transparent;
  top: -10px;
   transform: translateY(20px);
}

.tooltip:after {
  content: attr(data-tooltip);
  background: #6094d1;
  width: 400px;
  height: 70px;
  font-size: 10px;
  font-weight: 300;
  top: -75px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(20px);
}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
  transform: translateY(-2px);
}

@keyframes shake {
  0% { 
    transform: rotate(2deg);
  }
  50% {
   transform: rotate(-3deg);
  }
  70% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#anim:hover {
  animation: shake 500ms ease-in-out forwards;
}

#anim {
  justify-content: center;
  align-items: center;
  position: relative;
}