<div id="<%= klass.to_s.to_relation_name %>" class="<%= html_classes("relation", "panel", (class_name rescue nil)) %>">
  <%# Provide support for iqvoc_skosxl %>
  <% object = if defined?(concept)
                concept
              elsif defined?(label)
                label
              end %>
  <% notes = object.notes_for_class(klass) %>
  <h2><%= klass.model_name.human(:count => notes.count) %>
    <div class="icon-bar">
      <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://simplesharebuttons.com" class="email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
      <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a> 
      <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
      <a onclick="copyUrlToClipboard()" class="copy"><i class="fa fa-link" aria-hidden="true"></i></a>
    </div>
  </h2>
  <div class="relation-body">
    <%= render :partial => 'partials/note/note', :collection => notes %>
  </div>
</div>
