<div id="<%= klass.to_s.to_relation_name %>" class="<%= html_classes("relation", "panel", (class_name rescue nil)) %>">
  <%# Provide support for iqvoc_skosxl %>
  <% object = if defined?(concept)
                concept
              elsif defined?(label)
                label
              end %>
  <% notes = object.notes_for_class(klass) %>
  <h2>
   <% if notes.first.value.include?("[Notas]") %>    
          Notas 
          <% notes.first.value["[Notas]"] = " "%>
        <% else %>
          Nota Explicativa
        <% end %>
    <i rel="tooltip" class="fa fa-info-circle" alt="A classificação dos serviços na NBS rege-se pelas Regras Gerais para Interpretação da Nomenclatura<br> Brasileiras de Serviços, Intangíveis e Outras Operações que Produzam Variações no Patrimônio (RGS), disponíveis <em><a href=&quot;/pt/regras-gerais&quot;>aqui</a>.</em>"></i>
    <div class="icon-bar">
      <a id="share_email" class="email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
      <a id="share_twitter" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a> 
      <a id="share_linkedin" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
      <a id="whatsappweb" target="_blank" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
      <a id="whatsappmobile" target="_blank" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
      <a onclick="copyUrlToClipboard()" class="copy popup"><span class="popuptext" id="myPopup">Link Copiado!</span><i class="fa fa-link" aria-hidden="true"></i></a>
    </div>
  </h2>
  <div class="relation-body">
    <%= render :partial => 'partials/note/note', :collection => notes %>
  </div>
</div>

