<% unless note.new_record? %>
  <div class="translation" lang="<%= note.language %>">
      <% if note.value.include?("[Considerações Gerais]") %>              
        <% note.value["[Considerações Gerais]"] = "<strong>Considerações Gerais</strong>"%>
      <% end %>
      <% if note.value %>
        <p id="notaExplicativa" style="word-break: unset; white-space:pre-wrap"><%= auto_link(note.value, :html => { :target => '_blank' }) %></p>
      <% end %>

      <% if note.annotations.any? %>
        <dl class="note_annotations">
          <% note.annotations.each do |annotation| %>
            <dt><%= annotation.identifier %></dt>
            <dd><%= auto_link(annotation.value, :html => { :target => '_blank' }) %></dd>
          <% end %>
        </dl>
      <% end %>
  </div><!-- /.translation -->
<% end %>

