<nav class="navbar navbar-default navbar-fixed-top">

<div style="background-color: red">
<div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;">
<ul id="menu-barra-temp" style="list-style:none;">
<li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"><a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a></li>
</ul>
</div>
</div>

<div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i> <%= t('txt.common.menu') %>
      </button>
      <%= link_to Iqvoc.config["title"], localized_root_path, class: 'navbar-brand' %>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <%= nav_items Iqvoc.navigation_items %>
      </ul>

      <%= render "layouts/controls" %>
    </div>
  </div>
</nav>
